body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.jumbotron {
    text-align: center;
}

.input-group mb-3 {
    display: inline-block;
    border: 2px solid #fff;
}

.input-group mb-3 {
    _display: inline;/*For IE Hack*/
}

#response-data{
    display:block;
    text-align:center;
}

.linkname {
    font-size: 0.75em;
    color: #a9a9a9;
    font-style: italic;
}

.repolist ul li {
  display: block;
  float:left;
  position:relative;
}

.repolist ul li a {
    font-weight: bold;
    padding: 6px 9px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border: 1px solid #356492;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background-color: #3673af;
}


