<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>ERROR</title>
</head>
<body>
    <hgroup>
        <h1>ERROR</h1>
        <h2>There is an unexcepted error</h2>
    </hgroup>
</body>
</html>
