@{
    ViewBag.Title = "About";
}

<h2>Github API Username Search </h2>
<p>PLATFORM: ASP.NET Framework MVC</p>
<p>TECHNOLOGIES: JQuery, C#, HTML, Bootstrap, CSS</p>
<p>AUTHOR: YINGZHI LU (Jodie)   24/4/2018</p>
