@{
    ViewBag.Title = "Contact";
}

<h3>JODIE LU</h3>
<address>
    33 Rose Lane <br />
    Melbourne VIC 3000<br />
    <abbr title="Phone">P:</abbr>
    422-855-256
</address>

<address>
    <strong>Private:</strong>   <a href="mailto:Support@example.com">jodielu0508@gmail.com</a><br />
    <strong>University:</strong> <a href="mailto:Marketing@example.com">s3570641@student.rmit.edu.au</a>
</address>