@{
    ViewBag.Title = "Home Page";
}

<div id="main-form" class="jumbotron">
    <h2>GITHUB SIMPLE WEBAPP</h2>

    <p class="lead">
        Ehter a single Github username to get public information:
    </p>

    <div class="input-group mb-3">
        <input type="text" id ="username" class="form-control" placeholder="Github's username..." aria-label="Recipient's username..." aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button id="get-user-info" class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>

</div>

<div id="response-data" class="table-responsive"></div>
